@font-face {
    font-family: 'Trykker';
    src: url('Trykker-Regular-webfont.woff') format('woff'),
         url('Trykker-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

