_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
static/ersa/Lang/Dictionaries/ERValks.md
static/spraak/myv/Lang/church-texts/JohnChrysosthomLiturgy/index copy.md
static/spraak/myv/index_fullversion.md
