.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
static/ersa/Lang/Dictionaries/ERValks.md
static/spraak/myv/Lang/church-texts/JohnChrysosthomLiturgy/index copy.md
static/spraak/myv/index_fullversion.md
index.markdown
assets/fontawesome-free-5.3.1-web
_site/
node_modules/
/package.json
/package-lock.json
/qodana.yaml
