.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
static/ersa/Lang/Dictionaries/ERValks.md
static/talen/myv/Lang/church-texts/JohnChrysosthomLiturgy/index copy.md
static/talen/myv/index_fullversion.md
index.markdown
assets/fontawesome-free-5.3.1-web
_site/
node_modules/
/package.json
/package-lock.json
/qodana.yaml
/_data/говоря/govorya-у2.txt
/static/talen/slavisch/pom/govorya/govorya_u2.md
/static/talen/slavisch/pom/govorya/govorya-у.md
/static/talen/slavisch/pom/govorya/govorya_e.md
/static/talen/slavisch/pom/govorya/govorya_f.md
/static/talen/slavisch/pom/govorya/govorya_h.md
/static/talen/slavisch/pom/govorya/govorya_sh.md
/static/talen/slavisch/pom/govorya/govorya_ts.md
/static/talen/slavisch/pom/govorya/govorya_u2.md
/static/talen/slavisch/pom/govorya/govorya_ya.md
/static/talen/slavisch/pom/govorya/govorya_yu.md
