<div class="footer l-box is-center titilliumTextRegular">
    <div style="display:contents">
        2018-2026. Made with
        Visual Studio Code 1.124.0
        and GitHub Desktop 3.5.12.
    </div>
    <div style="display:contents">
        [<a title="Source code for this GitHub Pages project" href="https://github.com/bromveldt/bromveldt.github.io" class="ondarkbg">Source code</a>]
    </div>
    <div style="display:contents">
        [<a title="GitHub Pages" href="https://pages.github.com/" class="ondarkbg">More on GitHub Pages</a>]
    </div>
    <div id="siteVersion">
        v0.2-alpha
    </div>
</div>
