<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | escape }}</title>
    <meta property="og:type" content="website"><!-- Open Graph -->
    <!-- FavIcon -->
    <link rel="icon" href="/assets/icons/icons8-star-16.png" type="ico">
    <link rel="SHORTCUT ICON" href="/assets/icons/icons8-star-16.png">
    <!-- Enhanced styling -->
    <link rel="stylesheet" href="assets/css/index.css?v=4">
    <link rel="stylesheet" href="{{ '/assets/css/bromveldt.css' | relative_url }}">

    {% if page.custom_theme %}
    <link rel="stylesheet" href="{{ '/assets/css/themes/' | append: page.custom_theme | append: '.css' | relative_url }}">
    {% endif %}
    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/">
    <link rel="dcterms.relation" href="http://dublincore.org/documents/2000/08/15/dcq-html/">
    <meta name="dcterms.title"       content="Landing page for the personal GitHub Actions Web site">
    <meta name="dcterms.creator"     content="Bruno Samueli, Freelance Software Developer, Nederland">
    <meta name="dcterms.date"        content="{{ site.time | date_to_xmlschema }}">
    <meta name="dcterms.identifier"  content="http://dublincore.org/documents/dcq-html/">
    <meta name="dcterms.description" content="This document is intended to showcase my software development skills">
    <meta name="dcterms.format"      content="text/html">
    <meta name="dcterms.type"        content="Text">
    <meta name="dcterms.language"    content="en-US"><!-- RFC 4646 / BCP 47 -->

    title, creator, subject, description, publisher, contributor, date, type, format, identifier, source, language, relation, coverage

</head>
<body class="content-flow" style="padding-top: 85px; padding-bottom: 80px;">
<div class="content-wrapper">
    {% if page.layout_type == "grid" %}
    <div class="content-grid">
        <main class="content-main">
    {% endif %}
            {% if page.layout_type == "grid" %}
        </main>
        <aside class="content-sidebar">
            {% include table-of-contents.html %}
            {% include related-posts.html %}
        </aside>
    </div>
    {% endif %}
</div>
</body>
</html>