<!DOCTYPE html>
<html lang="{{ 'eng'| slice: 0, 2 }}">
<head>
    <title>{{site.title_start}} {{page.title}}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;1,300&family=Source+Serif+4:ital,wght@0,400;0,600;1,400&display=swap">
    <link rel="stylesheet" href="{{site.fontawesome}}">
    <link rel="stylesheet" href="{{site.iconic}}">
    <link rel="stylesheet" href="{{site.data.cv.stylesheet}}">
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}">

    {% include dc.html format='text/html' %}

    <meta charset="utf-8">
    <meta name="robots"         content="{{ site.robots }}">
    <meta name="viewport"       content="{{ site.viewport }}">
    <meta name="description"    content="{{ page.description }}">

    <meta name="DC.title"       content="{{ page.title }}">
    <meta name="DC.date"        content="{{ page.date }}">
    <meta name="DC.description" content="{{ page.description }}">

    {%- feed_meta -%}
</head>
<body>
{% include header.html %}
<section id="app-root" class="content-shell">
    {{ content }}
</section>
{% include footer.html %}
</body>
</html>