<!DOCTYPE html>
<html lang="{{ 'eng'| slice: 0, 2 }}">
<head>
    <title>{{site.title_start}} {{page.title}}</title>

    {% include pure.html format='text/html' %}

    <link rel="stylesheet" href="{{site.data.cv.stylesheet}}">
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}">

    {% include dc.html format='text/html' %}

    <meta charset="utf-8">
    <meta name="robots"         content="{{ site.robots }}">
    <meta name="viewport"       content="{{ site.viewport }}">
    <meta name="description"    content="{{ page.description }}">

    <meta name="DC.title"       content="{{ page.title }}">
    <meta name="DC.date"        content="{{ page.date }}">
    <meta name="DC.description" content="{{ page.description }}">

    {%- feed_meta -%}
</head>
<body>
{% include header.html %}
<section id="app-root" style="padding-top: 85px; padding-bottom: 80px;">
    {{ content }}
</section>
{% include footer.html %}
</body>
</html>