<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;1,300&family=IBM+Plex+Serif:ital,wght@0,300;0,400;1,300&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,300;1,400&display=block" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/purecss@3.0.0/build/pure-min.css" crossorigin="anonymous">
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://unpkg.com/purecss@3.0.0/build/grids-responsive-min.css"/>
  <!--<![endif]-->
  <link rel="stylesheet" href="{{ '/assets/css/layouts/marketing.css' | relative_url }}?v=4">
  <link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}?v=4">
</head>
<body>
  {% include header.html %}
  <div style="padding-top: 85px; padding-bottom: 80px;">
    <article class="page-content">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </article>
    {% include footer.html %}
  </div>
</body>
</html>
